.site-navi,
.site-navi a,
.site-navi-items,
.site-navi-items li {
  font-weight: 300;
}

.breadcrumb {
    font-weight: 300;
}

.article-title {
  font-weight: 400; 
}

.article h2 {
  font-weight: 500;
  font-size: 1.4em;
}

.article h3 {
  font-weight: 400;
  font-size: 1.2em;
}

.article strong {
  font-weight: 600;  
}

.article img {
  border: none;
  padding: none;
}

.terms > ul > li {
  border-bottom: none;
}

.archives,
.archives .archives-item {
  border-bottom: none;
}

.taxonomies-item svg {
  margin-right: 3px;  
  vertical-align: middle;
}